body{
  background-color: #202226;
}
.nav-container{
  margin-left:40px;
  margin-right:40px;
}
.nav-wrapper{
  background-color: #070707;
}
.heading{
  font-family:'Dancing Script', cursive;
  color:	#C0C0C0;
  text-align:center;
}
.nav-container ul li a:hover {
    color: #26C6DA;
}
a {
  cursor: pointer;
}
.team-wrap{
	position:relative;
	background: url('../images/parallax/1.jpg') no-repeat center center;
	background-size: cover;
	z-index: 3;
	width:100%;
	overflow:hidden;
	padding-top:40px;
}
.team-emp{
	position:relative;
	width:20%;
	float:left;
	display:block;
	overflow:hidden;
	z-index: 3;
}
@media only screen and (max-width: 767px){
.team-emp{
	width:100%;
}
}
.team-emp img{
  padding:20px;
  padding-bottom: 0px;
	width:100%;
	height:370px;
	display:block;
}
.team-info{
	position:absolute;
	width:87%;
  margin-left: 20px;
  margin-right: 20px;
  height:150px;
	bottom:0;
	left:0;
	z-index:5;
	display:block;
	background:rgba(0,0,0,.8);
	overflow:hidden;
	padding-top:20px;
	padding-bottom:20px;
}
.team-info h6{
	text-align:center;
	color:#fff;
}
.team-info p{
	text-align:center;
	color:rgba(255,255,255,.7);
}

.social-team{
	position:relative;
	z-index:6;
	height:20px;
	text-align:center;
	margin:0 auto;
  padding: 0;
}
.team-social li {
  padding:0;
  list-style: none;
	width:20px;
	text-align:center;
  display: inline-block;
	cursor:pointer;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.team-social li.icon-team a {
	font-family: 'FontAwesome';
	font-size: 14px;
	width:20px;
	color: #fff;
	margin:0;
	padding:0;
}
.team-social li:hover{
	-webkit-animation: tada 1s forwards;
	-moz-animation: tada 1s forwards;
	animation: tada 1s forwards;
}

#sep-wrap{
	position:relative;
	background: url('../images/parallax/6.jpg') no-repeat scroll;
	background-size: cover;
	background-position: top center!important;
	overflow:hidden;
	width:100%;
	text-align:center;
	height:410px;
	padding-top:50px;
	display:block;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
#sep-wrap{
	height:310px;
}
}
@media only screen and (max-width: 767px){
#sep-wrap{
	height:auto;
}
#sep-wrap img{
	margin-bottom:-20px;
}
}
#sep-wrap img{
	width:100%;
	height:auto;
}
.sep-wrap-left{
	width:50%;
	float:left;
	margin:0 auto;
	text-align:right;
}

.sep-offer {
	position:relative;
}
.sep-offer h4{
	margin-top:100px;
	font-weight: 600;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4), 3px 3px 5px rgba(0,0,0,.1);
}
.sep-offer p{
	padding-left:20px;
	padding-right:20px;
	color:#fff;
}

.link-sep {
	position:relative;
	text-align:center;
	margin-top:30px;
	padding-right:3px;
}
.link-sep a {
	position: relative;
	outline: #fff solid 1px;
	color: #fff;
	padding:10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4), 3px 3px 5px rgba(0,0,0,.1);
	font-size: .9em;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.link-sep a:hover,
.link-sep a:focus {
	background:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1), 2px 2px 3px rgba(0,0,0,.1);
	color: #EC572C;
}
